---
import { Image } from "astro:assets";
import myImage from "../../../assets/images/tanya.png";

---

<section class="grid grid-cols-1 gap-4 p-4 sm:grid-cols-12 sm:gap-6">
  <!-- Imagen (círculo) -->
  <div class="flex justify-center sm:col-span-3 sm:items-center">
    <div class="aspect-square w-24 sm:w-full">
      <Image class="w-full h-full object-cover rounded-full overflow-hidden" src={myImage} alt="">
    </div>
  </div>
  
  <!-- Texto -->
  <div class="text-center sm:col-span-9 sm:text-left">
    <h3 class="text-blue-500 text-lg">DESARROLLADOR FULL-STACK</h3>
    <h1 class="text-3xl font-semibold">
      Hola, soy <span class="text-blue-500">Erick Martínez Fuentes.</span>
    </h1>
    <h3 class="text-lg text-gray-600 italic mt-2 inline-block">
      Apasionado por el desarrollo en soluciones de software y entusiasta de nuevas tecnologías.
    </h3>

    <!-- Botones -->
    <div class="flex justify-center sm:justify-start gap-2 mt-2">
      <!-- LinkedIn -->
      <a aria-label="LinkedIn button" href="#" target="_blank" class="flex items-center text-slate-700 p-2 rounded-lg bg-transparent hover:bg-slate-200 transition">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>					<!-- GitHub -->
      </a>
      <!-- Github -->
      <a aria-label="Github button" href="#" target="_blank" class="flex items-center text-slate-700 p-2 rounded-lg bg-transparent hover:bg-slate-200 transition">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M12 0C5.37 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.387.6.111.82-.261.82-.577v-2.023c-3.338.724-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.744.084-.729.084-.729 1.204.084 1.838 1.236 1.838 1.236 1.07 1.834 2.809 1.304 3.495.998.108-.775.42-1.305.762-1.606-2.665-.305-5.467-1.354-5.467-6.026 0-1.332.471-2.421 1.236-3.273-.123-.305-.536-1.529.117-3.184 0 0 1.008-.321 3.3 1.229a11.473 11.473 0 013.003-.403c1.019.005 2.042.137 3.003.404 2.29-1.55 3.295-1.229 3.295-1.229.656 1.655.243 2.879.12 3.184.768.852 1.236 1.941 1.236 3.273 0 4.683-2.807 5.715-5.478 6.016.431.369.815 1.1.815 2.219v3.293c0 .318.217.694.824.576C20.564 21.798 24 17.301 24 12 24 5.373 18.627 0 12 0z"/></svg>
      </a>
    </div>

  </div>
</section>