---
import { getCollection } from "astro:content";
import ProjectCard from "../../projects/ProjectCard.astro";

const projectEntries = await getCollection('project');
---

<section class="p-4">
  <h2 class="text-3xl text-center mb-6">Proyectos destacados</h2>
  
  <!-- Contenedor de tarjetas -->
  <div class="grid gap-6 ">
    <!-- Iterar sobre las entradas de proyectos -->
    {projectEntries.map((entry) =>(
      <ProjectCard entry={entry}></ProjectCard>
    ))}
  </div>
</section>
