---
import { getCollection, getEntry } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import ProjectSummary from "../../components/pages/project/ProjectSummary.astro";
import ProjectGalery from "../../components/pages/project/ProjectGalery.vue"
import ProjectOverview from "../../components/pages/project/ProjectOverview.astro";

export async function getStaticPaths() {
  const projectEntries = await getCollection('project');

  return projectEntries.map((entry) => ({
    params: {id: entry.id}
  }));
}

const { id } = Astro.params;
const entry = await getEntry('project', id)
const project = entry.data;
---
<Layout title={`Proyecto - ${project.title}`}>
  <div class="flex justify-center p-4 h-full bg-slate-100">
    <main class="max-w-screen-md flex flex-col gap-6">
      
      <ProjectSummary entry={entry}></ProjectSummary>
      
      <ProjectOverview entry={entry}></ProjectOverview>

      {project.images && 
        <ProjectGalery client:visible id={id}></ProjectGalery>
      }

    </main>
  </div>
</Layout>