---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/global/Navbar.astro';
import myIcon from "../assets/images/favicon.svg";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Icon -->
		<link rel="icon" type="image/svg+xml" href={myIcon.src} />	
		<meta name="generator" content={Astro.generator} />

		<!-- Descripcion -->
		<meta name="description" content="Portafolio de Erick - Desarrollador especializado en JavaScript, NestJS y Flutter. Conoce mis proyectos y habilidades.">

		<!-- Palabras claves -->
		<meta name="keywords" content="Erick Martínez Fuentes, Erick142, Erickmf02, desarrollador, portafolio, ingeniero de software">

		<!-- Autor -->
		<meta name="author" content="Erick Martínez Fuentes">
		<title>{title}</title>
		<ViewTransitions></ViewTransitions>
	</head>
	<body>
		<div class="grid min-h-dvh grid-rows-[auto_1fr_auto]">
			<Navbar></Navbar>
			<div>
				<slot />
			</div>
			<footer class="bg-slate-900 text-white h-16 flex justify-center items-center">
				Footer
			</footer>
		</div>
	</body>
</html>
